.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted orange;
  height: 50px;
  padding: 0 10%;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.link,
.logo {
  text-decoration: none;
  color: orange;
  opacity: .8;
  transition: all .2s;

  &:hover{
    opacity: 1;
  }
}

.logo {
  font-family: 'Bruno Ace SC', cursive;
  font-size: 30px;
}