.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted orange;
  height: 50px;
  padding: 0 10%;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}