.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px dotted orange;
  color: orange;
  height: 50px;
  padding: 0 10%;
  width: 100%;
}

.link {
  text-decoration: none;
  color: orange;
  opacity: .8;
  transition: all .2s;

  &:hover{
    opacity: 1;
  }
}